<div class="container">
    <h1>Posts Detail</h1>
    <div class="post-detail">
        <div class="post-head">
            <h5>Post <%=@post.id %> <%= @post.title %> <% 'by' %> <%= @user.name %></h5>
            <ul>
            <li class="like-form">
                    <%= form_with model: like, method: :post, url: new_user_like_path, local: true, scope: :new_like do |form| %>
                        <%= form.submit "Like", class: "btn btn-primary" %>
                        <%= form.hidden_field :post_id, value: @post.id %>
                    <% end %>
                </li>
                <li>Comments: <%= @post.comments_counter || 0 %> </li>
                <li>Likes: <%= @post.likes_counter || 0 %> </li>
            </ul>
        </div>
        <div class="post-body">
            <p><%= @post.text %></p>
        </div>
    </div>
    <div class="comments">
        <h4>Comments</h4>
        <h5>New Comment</h5>
        <%= form_with model: comment, method: :post, url: new_user_comment_path, local: true, scope: :new_comment do |form| %> 
            <div class="form-group">
                <%= form.label :Comment %>
                <%= form.text_area :text, size:"100x3", class: "form-control" %>
                <%= form.hidden_field :post_id, value: @post.id %>
            </div>
            <% if flash.now[:alert] %>
                <p class="alert"><%= flash[:alert] %></p>
            <% end %>
            <% if flash.now[:notice] %> 
                <p class="notice"><%= flash[:notice] %></p>
            <% end %>
            <%= form.submit "Submit", class: "btn btn-primary" %>
        <% end %>
        <h5>Recent Comments</h5>
        <% @post.comments.order(created_at: :desc).each do |comment| %>
            <%= render partial: "/shared/comment", locals: { comment: comment } %>
        <% end %>
    </div>
</div>